* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --myTeal: #4df8f8;
  --myBlue: #4d83f8;
  --myPurple: #a435d8;
  --img-width: 880px;
  --glassBackground: rgba(255, 255, 255, 0.3);
  --glassShadow: rgba(0, 0, 0, 0.3);
}

.glass {
  background-color: var(--glassBackground);
  backdrop-filter: blur(0.2em);
  border-top: 1px solid white;
  border-left: 1px solid white;
  box-shadow: 5px 5px 5px var(--glassShadow);
}

/*diamonds background*/
.diamond-backdrop {
  position: fixed;
  background-image: url('img/Elegant_Background-18.jpg');
  height: 160%;
  width: 100%;
}

.diamond {
  display: block;
  position: absolute;
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  background-color: var(--myBlue);
  z-index: 0;
}

#diamond-one {
  left: 5%;
  top: 5%;
}

#diamond-two {
  height: 300px;
  width: 300px;
  left: 30%;
  top: 60%;
}

#diamond-three {
  height: 220px;
  width: 220px;
  left: 75%;
  top: 180px;
}

/*Nav / Header Section*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-div {
  position: relatvie;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo-div a {
  text-decoration: none;
}

.logo-div h1 {
  color: var(--myPurple);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  margin: 5px;
  background-color: var(--myTeal);
  font-size: 20px;
  text-decoration: none;
  color: var(--myPurple);
  padding: 0.5em;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--myPurple);
  color: var(--myTeal);
}

/*Slider Section*/
.slider-section {
  position: relative;
  height: 850px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewport-container {
  padding: 50px;
  border-radius: 8px;
}

.viewport {
  overflow: hidden;
  margin: 0 auto;
  width: var(--img-width);
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  width: calc((var(--img-width)) * 3);
  font-size: 0px;
  animation-name: carouselMotion;
  /*Change animation-duration to larger number to make animations   longer*/
  animation-duration: 10s;
  animation-iteration-count: infinite;
  overflow: hidden;
}

.carousel img {
  width: var(--img-width);
  height: 550px;
  padding: 0;
  margin: 0;
}

@keyframes carouselMotion {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: calc(var(--img-width) * -1);
  }
  55% {
    left: calc(var(--img-width) * -1);
  }
  60% {
    left: calc(var(--img-width) * -2);
  }
  85% {
    left: calc(var(--img-width) * -2);
  }
  100% {
    left: 0;
  }
}
