* {
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --myTeal: #00cfc8ad;
  --myBlue: #4d83f8;
  --myPurple: #cc65fc44;
  --img-width: 880px;
  --glassBackground: rgba(255, 255, 255, 0.288);
  --glassShadow: rgba(0, 0, 0, 0.3);
  --animation-duration: 20s;
  --myLightgray: rgb(194, 193, 193);
  --myGray: rgb(122, 122, 122);
}

.glass {
  background-color: var(--glassBackground);
  backdrop-filter: blur(0.2em);
  border-top: 1px solid var(--myTeal);
  border-left: 1px solid var(--myTeal);
  box-shadow: 5px 5px 5px var(--glassShadow);
}

.btn {
  font-size: 24px;
  font-weight: 600;
  height: fit-content;
  padding: 0.3em;
  background-color: transparent;
  border: transparent;
  border-radius: 5px;
  color: var(--myTeal);
  transition: all 0.25s ease;
}

.btn:hover {
  background-color: var(--myTeal);
  color: white;
}

/*Image background*/
.image-backdrop {
  position: fixed;
  background-image: url('img/checkerboard-cross.png');
  background-size: cover;
  height: 160%;
  width: 100%;
  z-index: -1;
}

/*Return To Top Button*/
.return-top-btn {
  position: fixed;
  background-color: var(--myTeal);
  border-radius: 8px;
  height: 60px;
  width: 60px;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.return-top-btn:hover {
  transform: scale(1.05);
}

.arrow-up {
  border-bottom: 20px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

/*Nav / Header Section*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-div {
  position: relatvie;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  max-height: 70px;
}

.logo-div a {
  text-decoration: none;
}

.logo-div svg {
  padding: 0;
  margin: 0;
  max-height: 70px;
  max-width: 291px;
  border-radius: 5px;
  fill: var(--myTeal);
  transition: all 0.25s ease;
}

.logo-div:hover svg {
  fill: white;
  background-color: var(--myTeal);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  margin: 5px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.07em;
  text-decoration: none;
  color: var(--myTeal);
  padding: 0.5em;
  border-radius: 5px;
  transition: all 0.25s ease;
}

nav ul li a:hover {
  background-color: var(--myTeal);
  color: white;
}

.svg-container {
  font-size: 24px;
  padding: 0.4em;
  border-radius: 5px;
}

nav ul li svg {
  margin: 5px;
  color: var(--myTeal);
  width: 25px;
  height: 25px;
  transition: all 0.5s ease;
}

.svg-container:hover {
  background-color: var(--myTeal);
}

.svg-container:hover svg {
  color: white;
}

/*Welcome Callout*/

.welcome-callout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.text-wrap {
  padding: 0.4em;
  border-radius: 8px;
}

/*Slider Section*/
.slider-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.viewport-container {
  padding: 20px;
  border-radius: 8px;
}

.viewport {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: var(--img-width);
  overflow: hidden;
}

.slider-img-cta {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  background-image: linear-gradient(to top, #646464b2, #646464b2, transparent);
  z-index: 5;
  height: 80px;
  width: 100%;
  padding: 10px;
  animation: fadeInText var(--animation-duration);
  animation-iteration-count: infinite;
}

.slider-img-cta h2 {
  max-width: 80%;
  font-size: 20px;
  color: white;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  width: calc((var(--img-width)) * 3);
  font-size: 0px;
  animation: carouselMotion var(--animation-duration);
  animation-iteration-count: infinite;
  overflow: hidden;
}

.carousel img {
  width: var(--img-width);
  height: 550px;
  padding: 0;
  margin: 0;
}

.card-section {
  width: 100%;
  padding: 10% 10% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 500px;
  transition: all 0.35s ease;
  margin: 50px 20px 20px;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  padding: 10px;
}

.card h2 {
  margin: 8px;
}

.card p {
  font-weight: 700;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.form-section form {
  padding: 25px;
  width: 650px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.form-section label {
  margin-bottom: 6px;
}

.form-section input,
.form-section textarea {
  padding: 6px;
  font-size: 20px;
  margin-bottom: 10px;
}

/*Animations*/

@keyframes carouselMotion {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: calc(var(--img-width) * -1);
  }
  55% {
    left: calc(var(--img-width) * -1);
  }
  60% {
    left: calc(var(--img-width) * -2);
  }
  85% {
    left: calc(var(--img-width) * -2);
  }
  100% {
    left: 0;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0%;
  }
  3% {
    opacity: 100%;
  }
  22% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
  }
  33% {
    opacity: 100%;
  }
  52% {
    opacity: 100%;
  }
  55% {
    opacity: 0%;
  }
  58% {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
  82% {
    opacity: 100%;
  }
  85% {
    opacity: 0%;
  }
  97% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
